<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

  <span *ngFor="let item of data;let i = index">

    <span *ngIf="item.type == 'text'" class="no-margin-no-padding">

      <!--  h1  -->
      <h1 *ngIf="item.style.tag == 'h1' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h1>
      <h1 *ngIf="item.style.tag == 'h1' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h1>

      <!--  h2  -->
      <h2 *ngIf="item.style.tag == 'h2' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h2>
      <h2 *ngIf="item.style.tag == 'h2' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h2>

      <!--  h3  -->
      <h3 *ngIf="item.style.tag == 'h3' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h3>
      <h3 *ngIf="item.style.tag == 'h3' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h3>

      <!--  h4  -->
      <h4 *ngIf="item.style.tag == 'h4' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h4>
      <h4 *ngIf="item.style.tag == 'h4' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h4>

      <!--  h5  -->
      <h5 *ngIf="item.style.tag == 'h5' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h5>
      <h5 *ngIf="item.style.tag == 'h5' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h5>

      <!--  h6  -->
      <h6 *ngIf="item.style.tag == 'h6' && !item.isLink" class="no-margin-no-padding">{{item.data}}</h6>
      <h6 *ngIf="item.style.tag == 'h6' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></h6>

      <!--  p  -->
      <span *ngIf="item.style.tag == 'p' && !item.isLink" class="no-margin-no-padding">{{item.data}}</span>
      <span *ngIf="item.style.tag == 'p' && item.isLink" class="no-margin-no-padding"><a [href]="item.link">{{item.data}}</a></span>

      <!--<span *ngIf="item.style.tag == 'p'" class="no-margin-no-padding"-->
            <!--[ngStyle]="{'text-align':item.style['text-align']}">{{item.data}}</span>-->

    </span>

    <div *ngIf="item.type=='space'" [ngStyle]="{'height':item.style.height+unit}" class="no-margin-no-padding"></div>

    <div *ngIf="item.type == 'image'" class="no-margin-no-padding" style="text-align: center;">
      <img [src]="item.style.src" [ngStyle]="{'height': item.style.height+unit}">
    </div>

  </span>
</div>
